.mycontent{
  padding-top: 50px;
 border: 1px solid #000000;
 color: darkgray;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #000000;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
}